<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Alterar Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Alterar</button>
        </form>
        <a href="{% url 'cursos:painel_de_cursos' %}">Voltar</a>
    </div>
</body>
</html>
